.o-page {
    display: block;
}

// Page components
// (should ideally only contain basic layout definitions)
.o-page__header {
    margin-bottom: $o-page-header-margin-bottom;
    font-size: $o-page-font-size-base;
    font-weight: $o-page-font-weight;
    line-height: $o-page-line-height;
    word-break: $o-page-header-word-break;
    @include mq($from: md) {
        font-size: $o-page-font-size-lg;
    }
}
