---
title: "30 Minuten, dann ist aber Schluss! Buchvorstellung"
abstract: "Mit Kindern tiefenentspannt durch den Mediendschungel"
date: 2020-05-21T10:49:06+02:00
tags: ["Rezension", "Erziehung", "Ratgeber"]
draft: false
---

<p>Die Angst davor, bei meinen eigenen Kindern Medienerziehung machen zu müssen, war schon immer da. Liegt vielleicht auch an meiner besonders technikfernen Kindheit in DDR (kein Fernsehen) und der besonders technikfeindlichen Einstellung der Waldorfschule (kein Fernsehen!). Aber so wirklich in Worte fassen konnte ich meine Ratlosigkeit nicht. Obwohl es mit unseren vier und sechsjährigen Kindern langsam höchste Zeit wird, sich ein Konzept zu überlegen...</p>

<p>Auf den ersten Seiten von Dreißig Minuten, dann ist aber Schuss stellt Autorin Patricia Cammarata ein paar typische Streitpunkte mit Kindern dar. Probleme, auf die ich selbst nie im Leben gekommen wäre, die aber völlig einleuchtend und realistisch sind. Erst jetzt begreife ich, WIE dringend ich dieses Buch brauche!</p>

<P>Zusammenfassend kann man sagen, dass Patricia Cammarata Eltern dabei hilft, die richtigen Fragen zu stellen. Nicht wie lange, sondern was. Nicht ab welchem Alter, sondern wie. Nicht verbieten sondern erlauben und gemeinsam machen. Diese Fragen lassen sich mit beliebigen Plattformen, Geräten und Apps füllen. Das Kind will YouTube gucken? Einen eigenen Instagram Account oder wissen, wie Fortnite geht? Ganz egal. Die Strategie ist immer die gleiche: Macht Euch über das Angebot schlau (Altersbeschränkung, Datenschutz, Kosten, Inhalte) und falls ihr entscheidet, dass es erlaubt ist, guckt es Euch gemeinsam mit dem Kind an. Erst nach und nach - und natürlich dem Alter entsprechend verwenden die Kinder das Angebot dann allein.</p>

<p>Klar ist das nicht immer spannend oder spaßig, doch Cammarata weiß Eltern zu motivieren. Auch hier ist der Perspektivwechsel wieder sehr hilfreich:</p>

