*-ck.js
*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.bzr
.codeintel
.hg
.installed.cfg
.mr.developer.cfg
.svn
ba
bin
bower_components
build
coverage
develop-eggs
dist
downloads
eggs
etc/**/*
fabfile.py
fake-eggs
include
known-good-versions.cfg
lib
parts
pip-*
src/Plone
src/Products.*
src/ade25.*
src/bobtemplates.*
src/collective.*
src/diazo
src/mockup
src/plone.*
src/plonetheme.*
src/sauna.reload
src/vwc.*
src/watchdog
src/z3c.*
var
