*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
coverage
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
var
.hg
.bzr
.svn
*.pyc
*.pyo
*-ck.js
.codeintel
etc/**/*
src/ade25.*
src/plone.app.*
src/plone.*
src/vwc.tiles
src/vwc.toolbar
src/vwc.opengraph
src/collective.disqus
src/sauna.reload