# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer


# Dump the last successful "known good" versions to a file so that we can pin
# those for example in production.cfg
show-picked-versions = true
update-versions-file = known-good-versions.cfg

# Extend a versions configuration to get the right version of Plone.
# The files can be downloaded from http://dist.plone.org/release/<version>/versions.cfg

extends =
    http://dist.plone.org/release/4.3rc1/versions.cfg
    versions.cfg

find-links =
    http://dist.vorwaerts-werbung.de/public

versions = versions
unzip = true

[eggs]
main =
    meetshaus.blog
    meetshaus.commentextender
    meetshaus.landingpage
    meetshaus.policy
    meetshaus.portlet.references
    meetshaus.sitetheme
    vwc.opengraph
    vwc.tiles
    plone.app.blocks
    plone.app.tiles
    plone.tiles
    collective.disqus

addon =
    plone.api
    plone.app.caching
    plone.app.widgets[archetypes]
    plone.app.toolbar
    Products.PloneFormGen

test =
    example.sitetheme [test]
devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
meetshaus.blog                  = fs meetshaus.blog
meetshaus.commentextender       = fs meetshaus.commentextender
meetshaus.landingpage           = fs meetshaus.landingpage
meetshaus.policy                = fs meetshaus.policy
meetshaus.portlet.references    = fs meetshaus.portlet.references
meetshaus.sitetheme             = fs meetshaus.sitetheme

# vwc checkouts
vwc.opengraph                   = git git@github.com:vwc/vwc.opengraph.git
vwc.tiles                       = git git@github.com:vwc/vwc.tiles.git

# Additional plone checkouts
plone.app.blocks                = git git://github.com/plone/plone.app.blocks.git
plone.app.tiles                 = git git://github.com/plone/plone.app.tiles.git
plone.tiles                     = git git://github.com/plone/plone.tiles.git


# Plone collective checkouts
collective.disqus       = git git://github.com/collective/collective.disqus.git

# Development Tools checkouts
sauna.reload            = git https://github.com/epeli/sauna.reload.git

