//
// Mixins
// ----------------------------------

//== Mixin providing a simple API for selector nesting
//
//## @param {String} $selector - Selector
@mixin when-inside($selector) {
    #{$selector} & {
        @content;
    }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: ($height / $width) * 100%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > .aspect-ratio__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}