//
// Application settings and variables
// -------------------------------------------------


//== Colors
//
//## Brand colors used across the project

// Seagull - #74c4ea
$color-seagull:                 rgba(116, 196, 234, 1); // #74c4ea

// Brandy Punch - #d3802a
$color-brandy-punch:            rgba(211, 128, 42, 1); // #d3802a

// Iron - #E3E4E5
$color-iron:                    rgba(227, 228, 229, 1); // #E3E4E5

// Shuttle Gray - #5A5F64
$color-shuttle-gray:            rgba(90, 95, 100, 1); // #5A5F64

// Gray baseline
$app-gray:                      $color-shuttle-gray;
$app-gray-light:				#eee;




//== Brand and Section specific variables
//
//## Used in mixin and modifier classes

//** Primary brand color
$app-primary-base:              $color-seagull !default;
$app-primary-darker:            darken($app-primary-base, 15%)  !default;
$app-primary-dark:              darken($app-primary-base, 7.5%) !default;
$app-primary:                   $app-primary-base               !default; // #274d38
$app-primary-light:             lighten($app-primary-base, 7.5%) !default;
$app-primary-lighter:           lighten($app-primary-base, 15%) !default;

//** Secondary brand color
$app-secondary-base:              $color-brandy-punch !default;
$app-secondary-darker:            darken($app-secondary-base, 15%)  !default;
$app-secondary-dark:              darken($app-secondary-base, 7.5%) !default;
$app-secondary:                   $app-secondary-base               !default; // #588c73
$app-secondary-light:             lighten($app-secondary-base, 7.5%) !default;
$app-secondary-lighter:           lighten($app-secondary-base, 15%) !default;



$app-link-color:				$app-primary;


//** Brand primary color schema used as default
$app-default:                 $app-primary-base;
$app-section-default:         $app-primary-base;

// Ionicons
$ionicons-font-path: 			"../assets/fonts";
