//
// Callouts
// --------------------------------------------------


.app-call-out {
    padding: 0.5rem 1rem 1rem;
    margin: $spacer 0;
    border-left: 5px solid #eee;
}

// Common spacing and style resets
.app-call-out-title {
    margin-top: 0;
    margin-bottom: .25rem;
}

.app-call-out p:last-child {
    margin-bottom: 0;
}

// Custom button styles
.app-call-out-btn {
    float: right;
    margin-bottom: .5rem;
}

// Callout variants used as addon classes
.app-call-out-default {
    @include alert-variant($gray-lighter, $gray-light, $alert-success-text);
}

.app-call-out-success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.app-call-out-danger {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.app-call-out-warning {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
