.c-switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.c-switch__label {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.c-switch__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.c-switch:checked + .c-switch__label {
    background: #bada55;
}

.c-switch:checked + .c-switch__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.c-switch__label:active:after {
    width: 130px;
}
