<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="Kr0I9aKFAgojLJV7mcpdK-cGtC0ivQcyKbs3Mhc9_v4" />
<title>
  {% if page.title == "Bootstrap" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Sitename
  {% endif %}
</title>
<link href="{{ page.base_url }}dist/styles/meetshaus.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700" rel="stylesheet">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">
