<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="Kr0I9aKFAgojLJV7mcpdK-cGtC0ivQcyKbs3Mhc9_v4">
<title>
  {% if page.title == "Bootstrap" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Sitename
  {% endif %}
</title>
<script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.lazyClass = 'lazy-load';
    window.lazySizesConfig.loadingClass = 'lazy-load--loading';
    window.lazySizesConfig.loadedClass = 'image--loaded';
</script>
<link href="{{ page.base_url }}dist/styles/meetshaus.min.css" rel="stylesheet">
<!-- inject:css -->
<link rel="stylesheet" href="../../../dist/styles/meetshaus.css">
<!-- endinject -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=iet7OjeChoz2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=iet7OjeChoz2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=iet7OjeChoz2">
<link rel="manifest" href="/manifest.json?v=iet7OjeChoz2">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=iet7OjeChoz2" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=iet7OjeChoz2">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=iet7OjeChoz2">
<meta name="theme-color" content="#ffffff">
