<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer__content">
        <div class="app-footer__main">
            <div class="app-footer__title">
                <a class="app-footer__link--inverse" href="/impressum">
                    kontakt me<span class="app-color--primary">etshaus:</span>
                </a>
            </div>
            <p>
                <a class="app-footer__link--inverse" href="/impressum">
                    lisafigas@meetshaus.de
                </a>
            </p>
        </div>
        <div class="app-footer__aside">
            <a class="app-footer__link" href="/impressum">Impressum</a> |
            <a class="app-footer__link" href="/datenschutz">Datenschutz</a>
            <br />
            Copyright &copy; {{ site.time | date: '%Y' }} Meetshaus. All rights reserved.

        </div>
    </div>
    {% include components/identifier.html %}
</footer>
