//
// Header
// ------------------------------------------


.app-header {
    background: $app-primary;
    @include when-inside('.template-frontpage-view') {
        background: transparent;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
    }
}

.app-header-content {
    @include make-container();
    @include make-container-max-widths();
    @include when-inside('.template-frontpage-view') {
        position: relative;
        z-index: 1000000000;
    }

}


// Header panels
.app-header-panels {
    // Fallback for browsers lacking flexbox support
    @include when-inside('.no-flexbox') {
        display: table;
    }
    @include make-row();
    flex-wrap: wrap;
}

//** Base card styles
.app-header-panel {
    @include when-inside('.no-flexbox') {
        display: table-cell;
    }
    @include when-inside('.app-header-panels') {
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }
    &.app-header-brandbar {
        @include media-breakpoint-up(md) {
            @include make-col(3);
        }
        min-height: 50px;
    }

    &.app-header-navbar {
        @include media-breakpoint-up(md) {
            @include make-col(9);
        }
    }
}

.app-header-navbar {
    @include media-breakpoint-up(md) {
        //margin-top: 5.5rem;
    }
}

