$o-page-padding-x:                    1.5rem;
$o-page-padding-y:                    1.5rem;

$o-page-header-word-break:              normal;
$o-page-header-margin-bottom:           1.5rem;

$o-page-font-size-base:                 1.25rem;
$o-page-font-size-lg:                   1.5rem;
$o-page-font-weight:                    300;
$o-page-line-height:                    1.5;
