///* ========================================================================
//   #CONFIG
//   ======================================================================== */
// Custom web font
$app-font-family-base:              "Noto Sans";
$app-font-family-light:             "AurulentSansRegular";
$app-font-family-medium:            "AurulentSansRegular";
$app-font-family-strong:            "AurulentSansBold";

// Configure site font stack
$app-font-family-sans-serif:        $app-font-family-base, Trebuchet MS;
$app-font-family-serif:             Georgia, 'Times New Roman', Times,serif;

$app-font-weight-base-custom:       $app-font-weight-base;
$app-font-weight-strong-custom:     700;

