//
// Main site theme
// --------------------------------------



//== Main content area
//
//== Provides optional fullscreen layouts
.app-main {
    width: 100%;
    @include make-container-max-widths();
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border: 1px solid #fff;
    background-color: #fff;
}

.app-content {
  @extend .container;
  &-centerstage {
    @extend .container-fluid;
    margin: 0 auto;
    max-width: 480px;
  }
}


//== Page styles
//
//## Define content specific styles
.app-page {
  padding: $o-page-padding-x 1rem 0;
    @include mq($from: md) {
        padding-right: $o-page-padding-y;
        padding-left: $o-page-padding-y;
    }
    &.app-page__blog-entry {
        padding-right: 0;
        padding-left: 0;
    }
}

.app-page__title {
  margin-bottom: 1rem;
  padding-right: 1rem;
  // background: url(../../assets/img/bird-blue-starting-left.png) 100% 50% no-repeat transparent;
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page__lead,
.app-page__abstract {
  margin-bottom: $spacer;
  @include responsive-font-size(1.5rem);
  font-weight: 300;
  line-height: 1.5;
}


//== Page section
//
//## Container providing visual separation
.app-page__section {
  margin: 1rem 0 2rem;
}
