@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Lora Regular'), local('Lora-Regular'), url(../assets/fonts/Lora-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Lora Bold'), local('Lora-Bold'), url(../assets/fonts/Lora-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: local('Montserrat Light'), local('Montserrat-Light'), url(../assets/fonts/Montserrat-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

