//
// Main site theme
// --------------------------------------



//== Main content area
//
//== Provides optional fullscreen layouts
.app-main {
  background-color: #fff;
  @include make-container();
  @include make-container-max-widths();
  margin-bottom: 0;
  border: 1px solid #fff;
}

.app-content {
  @extend .container;
  &-centerstage {
    @extend .container-fluid;
    margin: 0 auto;
    max-width: 480px;
  }
}


//== Page styles
//
//## Define content specific styles
.app-page {
  padding: $spacer 0 0;
}

.app-page__title {
  margin-bottom: 1rem;
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page__lead,
.app-page__abstract {
  margin-bottom: $spacer;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}


//== Page section
//
//## Container providing visual separation
.app-page__section {
  margin: 1rem 0 2rem;
}
