<div class="app-content app-infobar app-infobar-about" id="app-infobar-about">
  <div class="row">
    <div class="col-sm-3">
      <div class="blogentry-aside" id="blogentry-aside">
        <div class="blogentry-aside-section text-center">
          <div class="blogentry-avatar">
            <img class="img-circle img-responsive app-avatar"
              title="meetshaus.de Autor Lisa Figas"
              src="{{ page.base_url }}assets/img/avatar-blog.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="blogentry">
        <div class="blogentry-aside">
          <div class="app-brandbar-content">
              <div class="h1 app-brand-claim" id="app-brand-claim">
                  meet meetshaus
              </div>
          </div>
          <div class="blogentry-body" id="frontpage-about-section">
              <p>
                Hier bloggt Lisa Figas von meetshaus über die Themen Onlinemarketing und Social Media. Sie gibt Tipps für den Umgang mit einzelnen Funktionsweisen von Sozialen Netzwerken und erklärt Begriffe aus dem Bereich Onlinemarketing. Außerdem stellt Sie die Projekte vor, an denen Sie arbeitet und schreibt über ihre Beobachtungen im Netz-Alltag.
              </p>
          </div>
            </div>
          </div>
        </div>
        <div>
      </div>
  </div>
</div>