<div class="app-content app-infobar app-infobar-about" id="app-infobar-about">
  <div class="page-header">
    <h1>Über diesen Blog</h1>
  </div>
  <div class="app-masthead" id="frontpage-about-section">
      <p>
        Hier bloggt Lisa Figas von meetshaus über die Themen Onlinemarketing und Social Media. Sie gibt Tipps für den Umgang mit einzelnen Funktionsweisen von Sozialen Netzwerken und erklärt Begriffe aus dem Bereich Onlinemarketing. Außerdem stellt Sie die Projekte vor, an denen Sie arbeitet und schreibt über ihre Beobachtungen im Netz-Alltag.
      </p>
  </div>
</div>