<div class="app-brandbar">
    <div class="app-brandbar-deco" id="app-brandbar-deco">
        Tree Decorator
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <a class="app-brand" href="/">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/meetshaus.jpg" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="app-brandbar-nav">
                {% include navbar.html %}
            </div>
        </div>
    </div>
</div>