<div class="app-brandbar">
    <div class="app-brandbar-deco" id="app-brandbar-deco">
        Tree Decorator
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <a class="app-brand" href="/">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/logo.png" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="app-brandbar-content">
                <div class="h1 app-brand-claim" id="app-brand-claim">
                    meet meetshaus
                </div>
                <div class="app-brand-about" id="app-brand-about">
                    <p>Hier bloggt Lisa Figas von meetshaus über die Themen <strong>Onlinemarketing</strong> und <strong>Social Media</strong>. Sie gibt Tipps für den Umgang mit einzelnen Funktionsweisen von Sozialen Netzwerken und erklärt Begriffe aus dem Bereich Onlinemarketing. Außerdem stellt Sie die <strong>Projekte</strong> vor, an denen Sie arbeitet und schreibt über ihre Beobachtungen im <strong>Netz-Alltag</strong>.</p>
                    <p style="text-align: center; "><a target="_self" class="external-link" href="http://meetshaus.de/blog" title="">STARTSEITE BLOG</a></p>
                    <p>Die Beiträge richten sich an Neueinsteiger in Soziale Medien und an Nutzer, die ganz konkrete Probleme haben - Anregungen und Fragen sind herzlich Willkommen (bitte per <a title="" target="_self" href="mailto:lf@meetshaus.de?subject=Anfrage über meetshaus-Blog" class="email-link">E-Mail</a>).</p>
                    <p>Lisa Figas ist seit 2011 im Bereich Onlinemarketing selbstständig. Neben der Beratung zum optimalen Web-Auftritt bietet Sie Social Media Marketing als Dienstleistung an. Darüber hinaus ist Sie als <a target="_self" class="internal-link" href="http://meetshaus.de/workshop" title="Social Media Workshop">Referentin</a> tätig und arbeitet auch als Autorin und Texterin.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <aside class="app-brand-aside"  id="app-brand-aside" role="contentinfo">
            </aside>
        </div>
    </div>
</div>