<div class="app-brandbar app-brandbar-lp">
    <div class="app-brandbar-deco" id="app-brandbar-deco">
        Tree Decorator
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <a class="app-brand" href="/">
                <img class="img-responsive app-brand-image" src="{{ page.base_url }}assets/img/logo.png" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <nav class="app-brandbar-navigation hidden" role="navigation">
                <ul class="nav nav-pills nav-stacked app-brandbar-nav" id="app-brandbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Themen</a></li>
                    <li><a href="#">Archiv</a></li>
                    <li><a href="#">Referenzen</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
            <div class="app-brandbar-content">
              <div class="h1 app-brand-claim" id="app-brand-claim">
                  meet meetshaus
              </div>
          </div>
            <div class="blogentry-avatar">
            <img class="img-circle img-responsive app-avatar"
              title="meetshaus.de Autor Lisa Figas"
              src="{{ page.base_url }}assets/img/avatar-blog.jpg" />
          </div>
        </div>
    </div>
</div>