<div class="app-brandbar">
    <div class="app-brandbar-deco" id="app-brandbar-deco">
        Tree Decorator
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <a class="app-brand" href="/">
                <img class="img-responsive" src="{{ page.base_url }}assets/img/logo.png" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="app-brandbar-content">
                <div class="h1 app-brand-claim" id="app-brand-claim">
                    meet meetshaus
                </div>
                <div class="app-brand-about" id="app-brand-about">
                    <p class="lead">Hier bloggt Lisa Figas von meetshaus über die Themen <strong>Onlinemarketing</strong> und <strong>Social Media</strong>. Sie gibt Tipps für den Umgang mit einzelnen Funktionsweisen von Sozialen Netzwerken und erklärt Begriffe aus dem Bereich Onlinemarketing. Außerdem stellt Sie die <strong>Projekte</strong> vor, an denen Sie arbeitet und schreibt über ihre Beobachtungen im <strong>Netz-Alltag</strong>.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <aside class="xapp-brand-aside"  id="xapp-brand-aside" role="contentinfo">
            </aside>
        </div>
    </div>
</div>