<footer class="app-footer" role="contentinfo">
  <div class="app-footer-content">
    <div class="app-footer-body">
          <div class="h4"><a href="/kontakt">kontakt me<span class="app-primary">etshaus:</span></a></div>
          <p><a href="/kontakt">
                  lisafigas@meetshaus.de
              </a>
          </p>
    </div>
    <div class="app-footer-aside" id="copyright">
          <p><a href="/impressum">Impressum</a><br />
            Copyright &copy; {{ site.time | date: '%Y' }} Meetshaus. All rights reserved.
          </p>
    </div>
  </div>
</footer>