<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>meet meetshaus</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="Kr0I9aKFAgojLJV7mcpdK-cGtC0ivQcyKbs3Mhc9_v4" /> 
<meta name="description" content="">
<meta name="author" content="">
<meta property="og:title" content="meetshaus.de"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://meetshaus.de"/>
<meta property="og:image" content="http://meetshaus.de/static/images/facebook-logo.jpg"/>
<meta property="og:site_name" content="meetshaus - das trifft sich gut!"/>
<meta property="fb:admins" content="30985318"/>
<meta property="og:description"
      content="Das meetshaus Netzwerk hilft Ihnen bei der inhaltlichen und redaktionellen Arbeit an Ihrer Webseite oder Ihrem Blog, erstellt Ihre Online Marketing Kampagnen mit Google Adwords und steht Ihnen bei der Nutzung Ihrer sozialen Netzwerke (Social Media Marketing) zur Seite."/>


<title>
  {% if page.title == "Bootstrap" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Bootstrap
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<link href="{{ page.base_url }}dist/css/styles.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{{ page.base_url }}assets/js/html5shiv.js"></script>
  <script src="{{ page.base_url }}assets/js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="{{ page.base_url }}assets/ico/favicon.png">