<nav class="navbar navbar-inverse app-navbar" id="app-navbar" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand visible-xs" href="#">RoConsulting</a>
  </div>

  <div class="collapse navbar-collapse navbar-main-collapse">
    <ul class="nav navbar-nav navbar-right" id="app-navbar-nav">
      <li class="nav-item nav-item-home"><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="#">Consulting</a></li>
      <li><a href="#">HR Management</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work FM <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
