// Application specific styles
// ---------------------------

.app-container {
    margin: 0 auto @line-height-computed;
    border: 1px solid #fff;
    border-radius: 8px;
    background:url(../../assets/img/landscape.png) no-repeat 0% 100% #fff;
    @media (min-width: @screen-sm-min) {
        margin-top: ceil((@line-height-computed * 2));
    }
}

.app-toolbar + .app-container {
    margin-top: @navbar-height + (@line-height-computed * 2);
}

.app-navbar {
    border-top: 1px solid @app-gray;
    border-bottom: 1px solid @app-gray;
    @media (min-width: @screen-sm-min) {
        border: none;
    }
}

.text-secondary {
    color: @app-brown;
}

.timestamp-text {
    color: #fff;
}

.app-infobar {
    padding: 0 @line-height-computed @line-height-computed;
}

.app-masthead {
    padding: @line-height-computed;
    @media (min-width: @screen-sm-min) {
        padding: (@line-height-computed * 2);
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

#about-the-author {
    padding: @line-height-computed * 2 @line-height-computed 0 0;
    .tab-content {
        padding: @line-height-computed 0;
    }
}

#content-wrapper,
#blog-teaser {
    padding: @line-height-computed;
}

.app-page-header,
.page-header {
    background:url(../../assets/img/bird-blue-starting-left.png) 100% 50% no-repeat transparent;
    h1, h2 {
        color: #d3802a;
    }
}

h1.documentFirstHeading {
    color: @app-brown;
    background:url(../../assets/img/bird-brown-left.png) 100% 100% no-repeat transparent;
    padding-bottom: @line-height-computed / 2;
    margin-bottom: @line-height-computed;
    border-bottom: 1px solid #EEEEEE;
}

#content {
    img {
        .img-responsive();
    }
}

.app-content {
    padding: 0 @line-height-computed;
    @media (min-width: @screen-sm-min) {
        padding: @line-height-computed;
    }
}

.app-page {
    margin-bottom: @navbar-height;
}

.app-content-body {
    @media (min-width: @screen-md-min) {
        p {
            margin-bottom: @line-height-computed;
        }
    }
}


#sidebar {
    padding: @line-height-computed / 2;
    .portlet,
    .infobox {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: @line-height-computed;
        .portletHeader {
            font-size: @font-size-base * 1.5;
            padding: @line-height-computed @line-height-computed @line-height-computed / 2;
            color:#D3802A;
            font-family:'AurulentSansBold';
            border-bottom: 1px solid #ccc;
        }
        h4 {
            font-size: @font-size-base;
            padding: @line-height-computed / 2 @line-height-computed @line-height-computed / 2;
            color:#D3802A;
            font-family:'AurulentSansBold';
            border-bottom: 1px solid #ccc;
        }
        .portletItem {
            padding: 0px @line-height-computed / 2 @line-height-computed;
            h3 {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
            .tweetText {
                .text-muted();
                font-size: @font-size-small;
            }
        }
        .nav > li > a {
            padding: 0 @line-height-computed;
        }
        .nav .divider {
            border-color: @gray-lighter;
        }
        .nav-header {
            font-size: 14px;
        }
        &.whitespaced {
            .nav {
                padding: @padding-small-vertical;
            }
        }
        &.portletReferencesPortlet {
            p {
                .text-muted();
            }
        }
    }
}

.app-sidebar {
    font-size: (@font-size-base - 2);
}

.app-aside-header {
    padding: @line-height-computed;
    .text-center();
}


