// Application specific styles
// ---------------------------

@mth-blue:      #74c4ea;
@mth-brown:     #428bca;

body {
    background:#d9e4e4;
}
body.mceContentBody {
    padding: @line-height-base;
}

.mh-blue {
    color:#74c4ea !important;
}

// Global components and bs overrides
//-----------------------------------

@brand-primary:             @mth-blue;

@font-family-sans-serif:    Arial, "Helvetica Neue", Helvetica, sans-serif;
@font-family-serif:         Verdana, Georgia, "Times New Roman", Times, serif;

input.context,
input.standalone,
input.searchButton {
    .btn();
}

input.context {
    margin-right: @line-height-base / 2;
}

#site-wrapper {
    margin: @line-height-base * 2 auto;
    border: 1px solid #fff;
    border-radius: 8px;
    background:url(../images/landscape.png) no-repeat 0% 100% #fff;
}

#toolbar + #site-wrapper {
    margin-top: @navbar-height + (@line-height-base * 2);
}

#tree-decorator {
    display: none;
}

body.section-front-page {
    #tree-decorator {
        width:40%;
        height:509px;
        position:absolute;
        top: 0px;
        left: 60%;
        z-index:1;
        text-indent: -3000px;
        overflow: hidden;
        display: block;
        background: url(../images/tree.png) no-repeat 0% 0% transparent;
    }
    #site-header {
        margin-bottom: @navbar-height;
    }
    .entry-body {
        font-family: 'Noto Sans';
    }
}


#logo-wrapper {
    position:relative;
    width: 102px;
    height: auto;
    top: -30px;
    left: 25px;
    z-index: 2;
    border: 0px solid red;
}

#logo {
    background: url(../images/logo.png) 0px 0px no-repeat transparent;
    margin: 0px;
    width: 102px;
    height: 343px;
    display: block;
    text-indent: -3000px;
    overflow: hidden;
    border: none;
}

#site-header {
    background:url(../images/bird-blue-starting-left.png) no-repeat 50% 10px transparent;
    #claim {
        background:url(../images/bird-brown-left.png) no-repeat 33px 0px transparent;
        padding: @line-height-base - 2 @line-height-base / 2 0;
        color: #74c4ea;
        font-family:Verdana, sans-serif;
        font-weight: normal;
        .font-size((@font-size-base * 2.25));
    }
}

#about-me,
#about-the-author,
#introduction {
    font-family: 'AurulentSansRegular';
    font-weight: normal;
    padding: @line-height-base / 2;
    b,
    strong {
        color:#d3802a;
        font-family: 'AurulentSansBold';
        font-weight: normal;
    }
    .visualHighlight {
        background-color: transparent;
        color:#74c4ea;
        font-family:'AurulentSansBold';
    }
}

#about-the-author {
    padding: @line-height-base * 2 @line-height-base 0 0;
    .tab-content {
        padding: @line-height-base 0;
    }
}

#content-wrapper,
#blog-teaser {
    padding: @line-height-base;
}

.page-header {
    background:url(../images/bird-brown-flying.png) 100% 50% no-repeat transparent;
}

// Blog
// ------------------

#blog-view,
#blog-preview-listing {
    padding: @line-height-base / 2;
    h2 {
        font-family:'AurulentSansBold';
    }
    .documentModified {
        color: #D3802A;
        font-family: 'AurulentSansBold';
        display: inline-block;
        padding: 30px 65px 0px 0px;
        background:url(../images/bird-brown-flying.png) no-repeat 100% 0% transparent;
    }
    p.lead {
        font-family: 'AurulentSansRegular';
        color: @gray;
    }
    .blog-actions {
        margin-top: @line-height-base;
    }
}

#blogentry-view {
    h2 {
        font-family:'AurulentSansBold';
        color:#D3802A;
    }
    p.lead {
        font-family: 'AurulentSansRegular';
        color: @gray;
    }
}

#sidebar {
    padding: @line-height-base / 2;
    .portlet,
    .infobox {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: @line-height-base;
        .portletHeader {
            font-size: @font-size-base * 1.5;
            padding: @line-height-base @line-height-base @line-height-base / 2;
            color:#D3802A;
            font-family:'AurulentSansBold';
            border-bottom: 1px solid #ccc;
        }
        h4 {
            font-size: @font-size-base;
            padding: @line-height-base / 2 @line-height-base @line-height-base / 2;
            color:#D3802A;
            font-family:'AurulentSansBold';
            border-bottom: 1px solid #ccc;
        }
        .portletItem {
            padding: 0px @line-height-base / 2 @line-height-base;
            h3 {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
            .tweetText {
                .text-muted();
                font-size: @font-size-small;
            }
        }
        .nav > li > a {
            padding: 0 @line-height-base;
        }
        .nav .divider {
            border-color: @grayLighter;
        }
        .nav-header {
            font-size: 14px;
        }
        &.whitespaced {
            .nav {
                padding: @padding-small;
            }
        }
        &.portletReferencesPortlet {
            p {
                .text-muted();
            }
        }
    }
}

// Content boxes

.splashbox {
    border: 1px solid #d8e4e4;
    border-radius: 8px;
    background: white;
    padding: @line-height-base @line-height-base 0px @line-height-base * 1.75;
    position:relative;
    margin-bottom: @line-height-base;
    &.splash-words {
        background:url(../images/meetshaus-words.png) no-repeat 0% 95% transparent;
        .splashbox-body {
            background:url(../images/miss-wordy.png) no-repeat 50% 0 transparent;
            padding-top: @navbar-height * 3;   
        }
        &:before {
            content:"";
            background:url(../images/bow-words.png) no-repeat 0% 0% transparent;
            display: block;
            .size(88px, 75px);
            position: absolute;
            top: -4px;
            right: -4px;
        }
    }
    &.splash-adwords {
        background:url(../images/meetshaus-adwords.png) no-repeat 0% 95% transparent;
        .splashbox-body {
            background:url(../images/edward.png) no-repeat 50% 0 transparent;
            padding-top: @navbar-height * 3;   
        }
        &:before {
            content:"";
            background:url(../images/bow-adwords.png) no-repeat 0% 0% transparent;
            display: block;
            .size(88px, 75px);
            position: absolute;
            top: -4px;
            right: -4px;
        }
    }
    &.splash-social {
        background:url(../images/meetshaus-social.png) no-repeat 0% 95% transparent;
        .splashbox-body {
            background:url(../images/lovebirds.png) no-repeat 50% 0 transparent;
            padding-top: @navbar-height * 3;   
        }
        &:before {
            content:"";
            background:url(../images/bow-social.png) no-repeat 0% 0% transparent;
            display: block;
            .size(88px, 75px);
            position: absolute;
            top: -4px;
            right: -4px;
        }
    }
    .splashbox-content {
       padding: 0px @line-height-base @line-height-base @line-height-base;
        b {
            color:#d3802a;
            font-family: 'AurulentSansBold';
            font-weight: normal;
        }
    }
}

// Tileboxes (masonry references view)
//-----------------------------------

.tilebox {
    width: 200px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    float:left;
    border:1px solid #d8e4e4;
    border-radius: 8px;
    h3 a {
        font-size: @font-size-base * 1.25;
    }
}
.tilebox h3,
.tilebox p.discreet {
    line-height: @line-height-base;
}


// Footer styles 
footer {
    #copyright {
    margin-top: @navbar-height * 1.5;
    color: #fff;
    p {
        margin: @line-height-base / 2;
        font-size: 12px;
        line-height: @line-height-base - 4px;
    }
        a {
            color: #fff;
        }
    }
    #footer-contact {
        .container();
        background:url(../images/envelope.png) no-repeat 15px 15px transparent;
        padding: 5px 5px 5px 75px;
    }
    #footer-contact a {
        color:#d3802a !important;
        font-size: @font-size-base * 1.25;
    }
}

