//
// Blog listing and entries
// ------------------------------------


.blogentry {
  @media (min-width: @screen-md-min) {
    padding-left: ceil((@line-height-computed * 2));
  }
}

.blogentry-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-top: 1px solid @page-header-border-color;
}

.blogentry-title {
  font-family:'AurulentSansBold';
  color: @app-brown;
}

.blogentry-abstract {
  margin-bottom: @line-height-computed;
  font-family: 'AurulentSansRegular';
  font-size: floor((@font-size-base * 1.5));
  font-weight: 300;
  line-height: 1.4;
  color: @gray;

  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.75);
  }
}

.blogentry-body {
  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base + 2);
    h2,
    h3 {
      margin-top: ceil((@line-height-computed * 2));
      margin-bottom: @line-height-computed;
    }
  }
}

.blogentry-aside {
  margin-top: floor((@line-height-computed * 2));
  margin-bottom: @navbar-height;
  border-top: 1px solid @page-header-border-color;
  @media (min-width: @screen-sm-min) {
    margin-bottom: ceil((@navbar-height * 2));
  }
}

.blogentry-aside-title {
  font-family: @app-font-default;
  color: @gray-light;
}

.blogentry-aside-text {
  font-size: floor((@font-size-base * 1.5));
  font-weight: 300;
  color: @gray;
}

