//
// Sicial share buttons
// ----------------------------------------------

.app-socialsharing {
    margin-bottom: @line-height-computed;
}

.btn-socialshare {
  display: block;
  margin-bottom: floor((@line-height-computed / 3));
}

// Make button variants with twbs mixins
// .button-variant(@color; @background; @border)

.btn-facebook {
    .button-variant(#fff; #263960; #263960);
}

.btn-twitter {
    .button-variant(#fff; #238caa; #238caa);
}

.btn-google {
    .button-variant(#fff; #d64937; #d64937);
}

.btn-xing {
    .button-variant(#fff; #175e60; #175e60);
}
