<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body class="section-front-page">
    <a class="sr-only" href="#content">Skip navigation</a>
    {% include toolbar.html %}
    <!-- Docs master nav -->
    <div class="container app-container">

        {% include brandbar.html %}

        <div class="app-brandbar-nav">
            {% include navbar.html %}
        </div>
        <div class="app-content" role="main">
            {{ content }}
        </div>

        {% include footer.html %}

    </div>
    {% include javascript.html %}
    <div id="app-js-slot">
        {% include webfonts.html %}
        {% include analytics.html %}
    </div>
  </body>
</html>