##############################################################################
# Fabric Deployment Tool
##############################################################################

[buildout]
fabric-parts =
    fabric-build
    fabric-config

[fabric]
username = ade25-devops
host = z7
host_staging = z7
hostname = z7.ade25.de
hostname_staging = z7.ade25.de
webserver = /opt/webserver/buildout.webserver
directory = /opt/sites/${plone-site:site-id}/buildout.${plone-site:site-id}

[fabric-build]
recipe=zc.recipe.egg
eggs=
    fabric
    ade25.fabfiles

[fabric-config]
recipe = collective.recipe.template
input = ${buildout:directory}/src/ade25.fabfiles/ade25/fabfiles/fabfile-project.py.tmpl
output = ${buildout:directory}/fabfile.py
